<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tinymall.mapper.TinymallGrouponRulesMapper">
  <resultMap id="BaseResultMap" type="com.example.tinymall.entity.TinymallGrouponRules">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="discount_member" jdbcType="INTEGER" property="discountMember" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
</mapper>