<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tinymall.mapper.TinymallCollectMapper">
  <select id="queryByType" resultType="com.example.tinymall.model.vo.FootprintVO">
    SELECT c.id collectionId,c.type,c.value_id goodsId,g.name goodsName,g.brief,g.pic_url picUrl,g.retail_price retailPrice
    FROM tinymall_collect c
    INNER JOIN tinymall_goods g ON c.value_id = g.id
    WHERE c.deleted = 0
    <if test="condition.userId > 0">
      AND c.user_id = #{condition.userId}
    </if>
    <if test="condition.type > -1">
      AND c.type = #{condition.type}
    </if>
    GROUP BY c.value_id
  </select>
</mapper>