<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tinymall.mapper.TinymallCategoryMapper">
  <resultMap id="BaseResultMap" type="com.example.tinymall.entity.TinymallCategory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="keywords" jdbcType="VARCHAR" property="keywords" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="icon_url" jdbcType="VARCHAR" property="iconUrl" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="sort_order" jdbcType="TINYINT" property="sortOrder" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>

  <select id="selectValidCategory" resultMap="BaseResultMap">
    SELECT c.*,COUNT(g.id) count
    FROM tinymall_category c
    INNER JOIN tinymall_goods g ON c.id = g.category_id AND c.deleted = 0 AND g.deleted = 0
    WHERE pid = #{pid}
    GROUP BY c.id
    HAVING (count) > 1
  </select>
</mapper>