<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tinymall.mapper.TinymallCouponUserMapper">
  <select id="queryList" resultType="com.example.tinymall.model.vo.CouponVo">
    SELECT cu.id,c.id cid,c.name,c.desc,c.tag,c.min,c.discount,c.start_time startTime,c.end_time endTime
    FROM tinymall_coupon_user cu
    INNER JOIN tinymall_coupon c ON cu.coupon_id = c.id AND c.deleted = 0
    WHERE cu.deleted = 0
    <if test="condition.userId > 0">
      AND cu.user_id = #{condition.userId}
    </if>
    <if test="condition.status > 0">
      AND cu.status = #{condition.status}
    </if>
  </select>
</mapper>